/*导航菜单*/
.png-menu-1 {
    background: url(../assets/icon/menu1.png) no-repeat 0 0;
    background-size: 100% 100%;
  }
  
  .png-menu-2 {
    background: url(../assets/icon/menu2.png) no-repeat 0 0;
    background-size: 100% 100%;
  }
  
  .png-menu-3 {
    background: url(../assets/icon/menu3.png) no-repeat 0 0;
    background-size: 100% 100%;
  }
  
  .png-menu-4 {
    background: url(../assets/icon/menu4.png) no-repeat 0 0;
    background-size: 100% 100%;
  }
  
  .png-menu-5 {
    background: url(../assets/icon/menu5.png) no-repeat 0 0;
    background-size: 100% 100%;
  }
  
  .png-menu-6 {
    background: url(../assets/icon/menu6.png) no-repeat 0 0;
    background-size: 100% 100%;
  }
  
  .png-menu-7 {
    background: url(../assets/icon/menu7.png) no-repeat 0 0;
    background-size: 100% 100%;
  }
  
  .png-menu-8 {
    background: url(../assets/icon/menu8.png) no-repeat 0 0;
    background-size: 100% 100%;
  }
  
  .png-menu-9 {
    background: url(../assets/icon/menu9.png) no-repeat 0 0;
    background-size: 100% 100%;
  }